---
app role: 'Digital Solutions China Operations'
application owner: '{{ email_address }}'
application:
businessunit:
costcenter:
division: 'DSC'
environment: '{{ deploy_environment }}'
project: '{{ project | title }}'